body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #4B4F54;
  color: #FFFFFF;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  color: #00AAA9;
}

p {
  font-size: 1.5rem;
}

form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
}

input {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #FFF;
}

button {
  background-color: #E84562;
  color: #FFFFFF;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #00AAA9;
}

@media (max-width: 600px) {
  .app-container {
    padding: 20px;
  }

  .logo {
    width: 80px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  form {
    padding: 20px;
  }

  input, button {
    padding: 8px;
  }
}